<html>
    <head>
        <title>Voong Finance</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
        <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>        
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.10.0/d3.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    </head>
    <body>
        <div id="balance-chart-container" class="container-fluid">
            <svg id="balance-chart">
                <g class="x-axis"></g>
                <g class="y-axis"></g>
                <g class="plot-area"></g>
            </svg>
        </div>
        <div id="errors" class="container"></div>
        <div class="container">
            <h1>Voong Finance</h1>

            <div id="ui-container">
                <h3>Create New Transaction</h3>
                <form id="new-transaction-form">
                    <div class="form-group row">
                        <label for="date-input" class="col-2 col-form-label">Date</label>
                        <div class="col-10">
                            <input id="date-input" class="form-control" type="date" value="{{today}}" name="date">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="description-input" class="col-2 col-form-label">Description</label>
                        <div class="col-10">
                            <input id="description-input" class="form-control" type="text" name="description">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="transaction-size-input" class="col-2 col-form-label">Transaction Size</label>
                        <div class="col-10">
                            <input id="transaction-size-input" class="form-control" type="number" step='0.01' value='0.00' placeholder='0.00' name="transaction-size">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="transaction-size-input" class="col-2 col-form-label"></label>
                        <div class="col-10">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>


                </form>
            </div>

            <div id="balance-table-container">
                <table id="balance-table" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>

                </table>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    </body>
</html>